.projects-container-dark {
  background-color: black !important;
  height: 50vh !important;
  margin-top: 0rem !important;
  padding-top: 0rem !important;
  color: white;
}

.projects-container-white {
  background-color: white !important;
  height: 50vh !important;
  margin-top: 0rem !important;
  padding-top: 0rem !important;
}

